
/*----------------------------------------------------------------------------------*/
/* basic set up*/
/*----------------------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    background-color: #fff;
    color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix {zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*----------------------------------------------------------------------------------*/
/* RESUABLE CODE*/
/*----------------------------------------------------------------------------------*/


.row{
    max-width: 1140px;
    margin: 0 auto;
}
/*---HEADINGS---*/
h1,h2,h3 {
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px; 
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color:#fff;
    word-spacing: 4px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 35px;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
    color: black;
    
}

/*----------------------------------------------------------------------------------*/
/* HEADER */
/*----------------------------------------------------------------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(resourses/css/img/medical-hero.jpg);
    background-size: cover;
    background-position:center;
    height: 100vh;
    background-attachment: fixed;
}



/* Naykas Med */
.naykas{
    float: left;
    margin-top: 10px;
    padding-left: 5px;
}

/* MAIN-NAVIGATION */
.main-nav{
    float: right;
    display: inline-block;
    list-style: none;
    margin-top: 55px; 
    margin-left: 15px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
    
}
.main-nav li a{
    text-decoration: none;
}

/* MAIN-TEXT */

.main-text{
    position: absolute;
    width: 1140px;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.para-text{
    margin-top: 25px;
    margin-bottom: 30px;
    line-height: 145%;
}

.main-nav li :link,
.main-nav li :visited{
    color: #fff;
}

.main-nav li :hover,
.main-nav li :active{
    color: rgba(15, 66, 206, 0.99);
}


/*---BUTTONS----*/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
    
}

.btn-app:link,
.btn-app:visited,
input[type=submit]{
    background-color: rgba(15, 66, 206, 0.99);
    color: antiquewhite;
}
.btn-don:link,
.btn-don:visited{
    background-color: #fff;
    color: #0b0a0a;
    border: 1px solid  rgba(15, 66, 206, 0.99);
   
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: aliceblue;
}

.btn-app:hover,
.btn-app:active{
    border: 1px solid rgba(15, 66, 206, 0.99);
    color:  #555555;
}

.btn-don:hover,
.btn-don:active{
    background-color: rgba(15, 66, 206, 0.99);
    color: antiquewhite;
}


/* Sticky navi */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(130, 132, 186, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}
.sticky .main-nav{margin-top: 18px;}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0px;
    color: #555;
    
}


/*----------------------------------------------------------------------------------*/
/* ABOUT */
/*----------------------------------------------------------------------------------*/

.section-about{
    background-color:  ;
}
.about-box-1{
    color: black;
    line-height: 145%;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 45px;
}

.about-box-1 p{
    font-size: 95%;
}

/*----------------------------------------------------------------------------------*/
/* EVENTS */
/*----------------------------------------------------------------------------------*/

.section-events{
    padding: 0;
}
.events-showcase{
    list-style: none;
    width: 100%;
    
}
.events-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.event-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #000;
}

.event-photo img {
    opacity: 0.7;
    width:100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s opacity 0.5s;
    transition: -webkit-transform 0.5s opacity 0.5s;
    transition: transform 0.5s opacity 0.5s;
    transition: transform 0.5s opacity 0.5s, -webkit-transform 0.5s opacity 0.5s;
    
}
.event-photo img:hover{
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}


/*----------------------------------------------------------------------------------*/
/* VOLUNTEER */
/*----------------------------------------------------------------------------------*/

.volunteer{
    background-color:  #f4f4f4;
    color: #1b1a24;
}
.volunteer-form{
     width: 147%;
    margin: 0 auto;
    padding: auto o;
}

input[type=text],
input[type=email],
input[type=tel],
select{
    width:35%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
checkbox{
    width: 0%;
    padding: 100px;
}


/*----------------------------------------------------------------------------------*/
/*CONTACT US */
/*----------------------------------------------------------------------------------*/
.contact-us{
    background-image:url(resourses/css/img/kv-contact-us-xs.jpg);
    background-size: cover;
    background-position:center;
    height: 52vh;
}
.contact-us-box-1, {
    margin-top: 125px;
    margin-left: 50px;    
}

.contact-us-box-1,{
    color: #171414;
    text-align: center;
}



/*----------------------------------------------------------------------------------*/
/*REGISTER */
/*----------------------------------------------------------------------------------*/

.register{
    background-color:  #f4f4f4;
    color: #1b1a24;
}
.register-form{
     width: 147%;
    margin: 0 auto;
    padding: auto o;
}
.register-form h3{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

input[type=text],
input[type=email],
input[type=tel],
select,textarea{
    width:35%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
checkbox{
    width: 0%;
    padding: 100px;
}



/*----------------------------------------------------------------------------------*/
/* FOOTER */
/*----------------------------------------------------------------------------------*/
.footer-override{
    background-color: rgba(15, 66, 206, 0.99);
    padding: 10px;
    font-size: 100%;
    color: #fff;

}

.footer-nav{
    list-style: none;
    float: left;
    text-decoration: none;

}
.call{
    list-style: none;
}
.email{
    list-style: none;
}
.call li a{
    list-style: none;
    float: left;
    text-decoration: none;
    color: white;
    padding-left: 50px;
    
}
.email li a{
    list-style: none;
    float: left;
    text-decoration: none;
    color: white;
    padding-left: 50px;
    
}
.list{
    list-style: none;
}

ion-icon{
    font-size: 150%;
    padding-right: 10px;
    padding-top: 10px;
}

